@tailwind base;
@tailwind components;
@tailwind utilities;

@import './cosmic-night.css';

@layer base {
  :root {
    --background: hsl(240 100.00% 98.04%);
    --foreground: hsl(240 27.59% 22.75%);
    --card: hsl(0 0% 100%);
    --card-foreground: hsl(240 27.59% 22.75%);
    --popover: hsl(0 0% 100%);
    --popover-foreground: hsl(240 27.59% 22.75%);
    --primary: hsl(251.90 55.76% 57.45%);
    --primary-foreground: hsl(0 0% 100%);
    --secondary: hsl(249.38 100% 93.73%);
    --secondary-foreground: hsl(249.38 33.33% 37.65%);
    --muted: hsl(240 50.00% 96.08%);
    --muted-foreground: hsl(240 12.20% 48.24%);
    --accent: hsl(218.46 100.00% 92.35%);
    --accent-foreground: hsl(240 27.59% 22.75%);
    --destructive: hsl(350.18 100% 66.47%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(240 34.78% 90.98%);
    --input: hsl(240 34.78% 90.98%);
    --ring: hsl(251.90 55.76% 57.45%);
    --chart-1: hsl(251.90 55.76% 57.45%);
    --chart-2: hsl(249.64 94.92% 76.86%);
    --chart-3: hsl(239.18 82.02% 65.10%);
    --chart-4: hsl(243.16 93.01% 71.96%);
    --chart-5: hsl(243.65 47.33% 47.65%);
    --radius: 0.5rem;
    --sidebar: hsl(240 50.00% 96.08%);
    --sidebar-foreground: hsl(240 27.59% 22.75%);
    --sidebar-primary: hsl(251.90 55.76% 57.45%);
    --sidebar-primary-foreground: hsl(0 0% 100%);
    --sidebar-accent: hsl(218.46 100.00% 92.35%);
    --sidebar-accent-foreground: hsl(240 27.59% 22.75%);
    --sidebar-border: hsl(240 34.78% 90.98%);
    --sidebar-ring: hsl(251.90 55.76% 57.45%);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --shadow-color: hsl(240 30% 25%);
    --shadow-opacity: 0.12;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
    --tracking-normal: 0em;
  }
  .dark {
    --background: hsl(240 26.83% 8.04%);
    --foreground: hsl(240 48.72% 92.35%);
    --card: hsl(240 27.78% 14.12%);
    --card-foreground: hsl(240 48.72% 92.35%);
    --popover: hsl(240 27.78% 14.12%);
    --popover-foreground: hsl(240 48.72% 92.35%);
    --primary: hsl(251.25 100% 78.04%);
    --primary-foreground: hsl(240 26.83% 8.04%);
    --secondary: hsl(242.86 32.81% 25.10%);
    --secondary-foreground: hsl(241.97 100% 88.04%);
    --muted: hsl(240 33.33% 20%);
    --muted-foreground: hsl(240 20.25% 69.02%);
    --accent: hsl(240 33.33% 28.24%);
    --accent-foreground: hsl(240 48.72% 92.35%);
    --destructive: hsl(350.18 100% 66.47%);
    --destructive-foreground: hsl(0 0% 100%);
    --border: hsl(240 26.15% 25.49%);
    --input: hsl(240 26.15% 25.49%);
    --ring: hsl(251.25 100% 78.04%);
    --chart-1: hsl(251.25 100% 78.04%);
    --chart-2: hsl(230.49 44.09% 63.53%);
    --chart-3: hsl(206.71 89.02% 67.84%);
    --chart-4: hsl(174.29 41.83% 50.78%);
    --chart-5: hsl(325.52 100.00% 73.73%);
    --sidebar: hsl(240 27.78% 14.12%);
    --sidebar-foreground: hsl(240 48.72% 92.35%);
    --sidebar-primary: hsl(251.25 100% 78.04%);
    --sidebar-primary-foreground: hsl(240 26.83% 8.04%);
    --sidebar-accent: hsl(240 33.33% 28.24%);
    --sidebar-accent-foreground: hsl(240 48.72% 92.35%);
    --sidebar-border: hsl(240 26.15% 25.49%);
    --sidebar-ring: hsl(251.25 100% 78.04%);
    --font-sans: Inter, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;
    --shadow-color: hsl(240 30% 25%);
    --shadow-opacity: 0.12;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 4px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-xs: 0px 4px 10px 0px hsl(240 30% 25% / 0.06);
    --shadow-sm: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 1px 2px -1px hsl(240 30% 25% / 0.12);
    --shadow-md: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 2px 4px -1px hsl(240 30% 25% / 0.12);
    --shadow-lg: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 4px 6px -1px hsl(240 30% 25% / 0.12);
    --shadow-xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.12), 0px 8px 10px -1px hsl(240 30% 25% / 0.12);
    --shadow-2xl: 0px 4px 10px 0px hsl(240 30% 25% / 0.30);
  }
  .theme {
    --font-sans: Inter, sans-serif;
    --font-mono: JetBrains Mono, monospace;
    --font-serif: Georgia, serif;
    --radius: 0.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}